In [1]:
import numpy as np
import pandas as pd

In [2]:
file1=pd.read_csv("csv_files/file1.csv")
file2=pd.read_csv("csv_files/file2.csv")
file3=pd.read_csv("csv_files/file3.csv")

In [3]:
# showing the data frames shape and renaming header
file1 = file1.rename(columns = {"ST":"State","GENDER":"Gender"})
file2 = file2.rename(columns = {"ST":"State","GENDER":"Gender"})

In [4]:
column_names = file3.columns
column_names

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [5]:
data = pd.DataFrame(columns = column_names)

In [6]:
data.head()

Empty DataFrame
Columns: [Customer, State, Customer Lifetime Value, Education, Gender, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Total Claim Amount, Vehicle Class]
Index: []

In [7]:
data = pd.concat([data,file1],axis=0)

In [8]:
data = pd.concat([data,file2,file3],axis=0)

In [9]:
data.shape

(12074, 11)

In [10]:
# standarizing header names

cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().capitalize())

cols

['Customer',
 'State',
 'Customer lifetime value',
 'Education',
 'Gender',
 'Income',
 'Monthly premium auto',
 'Number of open complaints',
 'Policy type',
 'Total claim amount',
 'Vehicle class']

In [11]:
data.columns = cols

In [12]:
data.head()

,Customer,State,Customer lifetime value,Education,Gender,Income,Monthly premium auto,Number of open complaints,Policy type,Total claim amount,Vehicle class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car

In [13]:
data.dtypes

Customer                      object
State                         object
Customer lifetime value       object
Education                     object
Gender                        object
Income                       float64
Monthly premium auto         float64
Number of open complaints     object
Policy type                   object
Total claim amount           float64
Vehicle class                 object
dtype: object

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   State                      9137 non-null   object
 2   Customer lifetime value    9130 non-null   object
 3   Education                  9137 non-null   object
 4   Gender                     9015 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly premium auto       9137 non-null   float64
 7   Number of open complaints  9137 non-null   object
 8   Policy type                9137 non-null   object
 9   Total claim amount         9137 non-null   float64
 10  Vehicle class              9137 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [15]:
data1 = data.drop(["Education","Number of open complaints"],axis = 1)
data1.head()

,Customer,State,Customer lifetime value,Gender,Income,Monthly premium auto,Policy type,Total claim amount,Vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car

In [16]:
data = data["Customer lifetime value"].astype("float",errors = "ignore")

In [17]:
data = data.drop_duplicates()

In [18]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Customer lifetime value  9130 non-null   object
 3   Gender                   9015 non-null   object
 4   Income                   9137 non-null   float64
 5   Monthly premium auto     9137 non-null   float64
 6   Policy type              9137 non-null   object
 7   Total claim amount       9137 non-null   float64
 8   Vehicle class            9137 non-null   object
dtypes: float64(3), object(6)
memory usage: 943.3+ KB